* {
    font-family: 'Arial', sans-serif;
}
h1 {
    font-size: 3em;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}
input {
    text-align: center;
    width: 20em;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 1em;
}